*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  background:#e2e8f0;
}
.page1{
  height:100%;
  display:flex;
}

.left{
  width:50%;
  background:#2563eb;
  color:white;
  padding:80px 60px;
}

.left h1{
  font-size:42px;
  line-height:1.1;
}

.left p{
  margin-top:20px;
  font-size:15px;
  opacity:0.9;
}

.right{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  width:320px;
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

.box h3{
  margin-bottom:15px;
  text-align:center;
}

input, select{
  width:100%;
  padding:10px;
  margin-bottom:12px;
  border:1px solid #cbd5f5;
  border-radius:6px;
}

button{
  width:100%;
  padding:10px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#1e40af;
}

#result{
  text-align:center;
  margin-top:15px;
}
